.contact-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  width: 32%;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  min-height: 400px;
  

  &.opening-hours {
    background-image: url("/contact-us/opening-hours-bg.jpg");
  }

  &.email {
    background-image: url("/contact-us/email-bg.jpg");
  }

  &.telephone {
    background-image: url("/contact-us/telephone-bg.jpg");
  }

  h2 {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    margin: 20px 0;
  }

  h4 {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.contact-form-section {
  padding: 100px 200px;
  background: radial-gradient(
    100.15% 191.04% at 15.32% 0%,
    #171717 0%,
    #101010 66.17%
  );
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
  }
}